<!doctype html>
<html>
    <head>
        <title><%= @song.name %></title>

    </head>
    <body>
      <h1><%= @song.name %></h1>
      <h2><%= @song.artist.name %></h2>
      <h3><%= @song.genre.name %></h3>
    </body>
</html>